


<script charset="utf-8">
  var currentBeer = <%=@user.beer%>
  checkStatus();
</script>

<div class = "container-fluid">
  <%= render "layouts/userHeader"%>
  </section>
  <section class="row">
    <div class="col-md-12">
      <!-- <h1><%= @user.username %>, YOU'VE MADE IT!</h1> -->
    </div>
  </section>
  <section class="row text-center">
    <div class="col-md-4">
      <div id="cellar">
        <a href="/user/<%=@user.id%>/beers"><h4>CELLAR</h4></a>
      </div>
    </div>
    <div class="col-md-4">
      <div id="newBrew">
        <a href="/user/<%=@user.id%>/beer/new"><h4>BREW</h4></a>
      </div>
    </div>
    <div class="col-md-4">
      <% if @user.beer %>
        <div id="progress">
          <%= @user.beer.beer_name %>
          <!-- here you should render the progress bar, or call the function that does -->
          <div class="progress">
            <div class="progress-bar" id="phase1Prog" style="width: 35%">
              <span class="sr-only">35% Complete (success)</span>
            </div>
            <div class="progress-bar  progress-bar-striped" id="phase2Prog" style="width: 20%">
              <span class="sr-only">20% Complete (warning)</span>
            </div>
            <div class="progress-bar" id="phase3Prog" style="width: 10%">
              <span class="sr-only">10% Complete (danger)</span>
            </div>
          </div>
        </div>
      <% else %>
        <div id="noAction">
            <h4>GET BREWIN!</h4>
        </div>
      <%end%>
    </div>
  </section>
</div>
